---
import weatherAppImg from "@assets/images/weather-app.png";
import shoppingifyImg from "@assets/images/shoppingify.png";
import myUnsplashImg from "@assets/images/my-unsplash.png";
import languagesImg from "@assets/images/web_languages.jpg";
import frameworksImg from "@assets/images/frameworks.jpg";
import toolsImg from "@assets/images/tools.png";
import fullStackImg from "@assets/images/fullstack.svg";
import frontendImg from "@assets/images/frontend.svg";
import staticImg from "@assets/images/static.svg";
import educationImg from "@assets/images/education.svg";
import jobImg from "@assets/images/job.svg";

import TitleLayout from "@layouts/Title.astro";
import SidebarLayout from "@layouts/Sidebar.astro";
import ContactForm from "@components/ContactForm.astro";
import ModeToggler from "@components/ModeToggler";
import Badge from "@components/Badge.astro";
import { Topbar } from "@components/sidebar";
import { Card, CardsContainer, LinkCard } from "@components/cards";
---

<TitleLayout title="Ibrahim's Personal Website">
  <SidebarLayout>
    <Topbar client:load />
    <div class="fixed top-4 right-5 z-50">
      <ModeToggler client:load />
    </div>
    <section id="home" class="text-slate-800 dark:text-gray-300">
      <h3 class="text-2xl font-medium">Hey there 👋</h3>
      <h1 class="mt-1 mb-2 text-6xl font-extrabold">I'm Ibrahim</h1>
      <h2 class="text-4xl font-bold">Full Stack Developer</h2>
      <p class="mt-5 text-xl">
        I'm a graduate in computer science and a full-stack web developer with a passion for building modern, scalable,
        and reliable applications 🚀. I have experience working with a range of technologies including but not limited
        to: TypeScript 💎, NextJS 🅝, Tailwind 💨, Prisma ▲ and databases like Postgres 🐘 and MongoDB 🍃.
      </p>
      <p class="mt-5 text-xl">
        I am always looking to learn and improve my skills 📚, and I am excited to take on new challenges and
        opportunities 💪.
      </p>

      <a href="#contact">
        <button class="btn-light">Let's connect 🤝</button>
      </a>
    </section>
    <CardsContainer id="projects" title="My latest projects 🏗️">
      <LinkCard title="Weather app" link="https://weather-app-dvqc.vercel.app/" image={weatherAppImg}>
        This is a simple weather web app that uses an external API (<a
          class="text-blue-400 hover:underline"
          href="https://www.weatherapi.com/"
          target="_blank">WeatherAPI</a
        >) and renders weather data based on the user's geolocation.
        <div class="flex justify-start flex-wrap gap-2" slot="stack">
          <Badge className="bg-blue-500" text="TypeScript" />
          <Badge className="bg-pink-600" text="SCSS" />
          <Badge className="bg-cyan-400" text="React" />
          <Badge className="bg-gray-900" text="Next" />
        </div>
      </LinkCard>
      <LinkCard title="Shoppingify" link="https://shoppingify-dvqc.vercel.app/" image={shoppingifyImg}>
        Shoppingify is a full stack responsive web app that lets users browse or add items and create a shopping list
        that they can take wherever they go.
        <div class="flex justify-start flex-wrap gap-2" slot="stack">
          <Badge className="bg-blue-500" text="TypeScript" />
          <Badge className="bg-cyan-500" text="TailwindCSS" />
          <Badge className="bg-cyan-400" text="React" />
          <Badge className="bg-gray-900" text="Next" />
        </div>
      </LinkCard>
      <LinkCard title="My unsplash" link="https://my-unsplash-umber.vercel.app/" image={myUnsplashImg}>
        This is an <a class="text-blue-400 hover:underline" href="https://unsplash.com/" target="_blank">Unsplash</a>
        mini clone, users can browse, add, manage and like images, with the most popular ones ranked first.
        <div class="flex justify-start flex-wrap gap-2" slot="stack">
          <Badge className="bg-blue-500" text="TypeScript" />
          <Badge className="bg-pink-600" text="SCSS" />
          <Badge className="bg-cyan-400" text="React" />
          <Badge className="bg-gray-900" text="Next" />
        </div>
      </LinkCard>
    </CardsContainer>
    <CardsContainer id="skills" title="My skills 💡">
      <Card title="Languages" image={languagesImg}>
        I have a solid expertise in using basic web technologies, including HTML, CSS, JavaScript, as well as other
        significant languages such as TypeScript, SCSS, and SQL.
      </Card>
      <Card title="Frameworks and libraries" image={frameworksImg}>
        With a good all-around experience in full stack development and multiple completed projects, I have gained a
        strong understanding of libraries like React, Tailwind, and Prisma, as well as frameworks like Next and Express.
      </Card>
      <Card title="Other tools" image={toolsImg}>
        I possess practical experience with PostgreSQL and MongoDB. And I am well-versed in tools such as Git, Linux,
        and Docker.
      </Card>
    </CardsContainer>
    <CardsContainer id="services" title="My services 💁">
      <Card title="Full Stack Development" image={fullStackImg}>
        I offer comprehensive full stack development services to bring your web application ideas to life. With
        expertise in both frontend and backend technologies, I can create a seamless and robust solution that meets your
        requirements.
      </Card>
      <Card title="Frontend Development" image={frontendImg}>
        I can design and build visually appealing and user-friendly apps that provide an engaging and seamless user
        experience. Whether you need a single-page app or a complex web application, I have the skills and experience to
        deliver.
      </Card>
      <Card title="Static Sites" image={staticImg}>
        If you're looking for a simple and cost-effective way to showcase your business or personal brand online, I can
        create a stunning and professional-looking static site for you. These sites are easy to maintain, fast to load,
        and accessible to all.
      </Card>
    </CardsContainer>
    <CardsContainer id="about" title="About me 👨‍💻">
      <Card title="My education" image={educationImg}>
        Engineer in Information Systems with a Master's degree from the The University of Science and Technology –
        Houari Boumediene, Algiers, Algeria.
      </Card>
      <Card title="Occupation" image={jobImg}>
        Currently, I am employed as a software developer within a government organization. My responsibilities include
        database design, implementation, normalization, and migration, as well as web development and performing basic
        systems administration tasks.
      </Card>
    </CardsContainer>

    <CardsContainer id="contact" title="Contact me 👋">
      <ContactForm action="https://formsubmit.co/6b22363c6f56b811563331ffbb484b02" />
    </CardsContainer>
    <footer class="mb-4 mt-auto text-slate-800 dark:text-gray-300 text-base font-semibold text-center">
      © 2023 Ibrahim.B
    </footer>
  </SidebarLayout>
</TitleLayout>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  :root {
  }
  html {
    font-size: 17px;
    font-family: ui-sans-serif, system-ui, Helvetica, sans-serif;
    scroll-behavior: smooth;
  }
  input,
  textarea:focus {
    outline: none;
  }
  [id]::before {
    content: "";
    display: block;
    height: 50px;
    margin-top: -50px;
    visibility: hidden;
  }

  @media only screen and (max-width: 768px) {
    html {
      font-size: 15px;
    }
  }

  @layer components {
    body {
      @apply bg-white dark:bg-gray-800 transition-colors duration-300;
    }
    section {
      @apply my-24;
    }
    .btn-light {
      @apply py-4 px-6 my-12 text-xl font-bold bg-gray-900 text-slate-200 rounded-lg hover:shadow-lg 
       duration-150 active:scale-90;
    }
    .input-light {
      @apply py-4 px-4 text-xl font-bold bg-slate-200  text-slate-800 
      rounded-lg  border-2 border-slate-200 focus:border-slate-800  
       focus:duration-150
       dark:bg-gray-700 dark:text-gray-300 
       dark:border-gray-700  dark:focus:border-gray-300 transition-colors duration-300;
    }
  }
</style>
